# Human Activity

In [1]:
import sys

sys.path.insert(0, "../../src")
from imports import *

init_notebook()

In [2]:
df_tree = get_final_nfi_data_for_analysis()

Loading final NFI data for analysis... (output of python wrangling)
- Latest file is /Users/pascal/repos/padasch/ifn_analysis/data/final/nfi/nfi_ready_for_analysis.feather
- Created on Thursday 2024-10-17, 12:32 which is 1 days ago.
  Number of trees:  687268
  Number of sites:  50012

## Logging

In [3]:
df_mp = calculate_harvest_loop_mp(df_tree, "idp")

 - Splitting df into 10 groups, grouped by idp

100%|██████████| 10/10 [11:05<00:00, 66.59s/it]

In [4]:
# Attach çalculating cutting rate
df_human = df_mp[["idp", "perc_cut"]]

# Attach NFI assessed cutting intensity
df_human = df_human.merge(
    df_tree[["idp", "dc_2"]]
    .copy()
    .drop_duplicates()
    .rename(columns={"dc_2": "cut_intensity_nfi"}),
    how="left",
    on="idp",
)

# Attach road distance
df_human["dist_road"] = (
    df_tree["dist"].fillna(0).copy()
)  # For dist, NA was added instead of 0, starting with first visits in 2016
df_human["mgmt_intensity"] = (
    df_tree["gest"].fillna(-1).copy()
)  # Some minor fraction of NA in gest, turning into -1 to be able to distinguish

df_human

           idp  perc_cut  cut_intensity_nfi  dist_road  mgmt_intensity
0       500008  0.000000                0.0        0.0             2.0
1       500013  3.333333                1.0        0.0             2.0
2       500098  0.000000                0.0        0.0             2.0
3       500103  6.000000                3.0        0.0             2.0
4       500137  0.000000                0.0        0.0             0.0
...        ...       ...                ...        ...             ...
50007  1354883  0.000000                0.0        0.0             0.0
50008  1354893  0.000000                0.0        0.0             0.0
50009  1354907  0.000000                0.0        0.0             0.0
50010  1354911  0.000000                0.0        0.0             0.0
50011  1354913  0.000000                0.0        0.0             0.0

[50012 rows x 5 columns]

In [ ]:
# Save it
df_human.to_feather("../../data/final/predictor_datasets/management.feather")